.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

#jumbotron-1 {
  background-image: url('/videos/learn.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#panel-1 {
  background-color: rgba(100,100,100,0.3);
}
