.circle {
  border-radius: 1.5rem !important;
}

.notransform {
  transform: none !important;
}

@media (max-width: 991.98px){
  .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      overflow: hidden;
  }

  .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
